@import "tailwindcss";

/* For Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For Firefox/IE */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Custom RGB Moving Border Animation */
@keyframes pan-gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-rgb-border {
  background-size: 300% 300%;
  animation: pan-gradient 3s linear infinite;
}